@charset "UTF-8";
*{padding: 0; margin: 0;}

a{color: #000; text-decoration: none;}

#navbar{
  position: fixed;
  top: -54px;width: 100%;
  background-color: #333;
  transition: .3s;
  display: flex;
  gap: 15px;
  text-align: center;
}

#navbar a{
display: block;
color: #f2f2f2;
padding: 15px;
font-size: 17px;
}

.main{
  padding: 15px 15px 200vh;
}

